* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background-color: #090b1a;
  font-size: 15px;
  font-family: "Inter", sans-serif;
}

.flex-container .inner-container {
  background-color: #1b1938;
  border-radius: 10px;
  overflow: hidden;
  margin: 5.4rem 1.4rem;
}
.flex-container .inner-container .image-content {
  font-size: 0;
  background-color: #aa5cdb;
}
.flex-container .inner-container .image-content img {
  opacity: 0.7;
  mix-blend-mode: hard-light;
}
.flex-container .inner-container .text-content h1 {
  color: white;
}
.flex-container .inner-container .text-content .accent {
  color: #aa5cdb;
}
.flex-container .inner-container .text-content .mainpara {
  color: rgba(255, 255, 255, 0.6);
}
.flex-container .inner-container .text-content .stats-content ul {
  list-style: none;
}
.flex-container .inner-container .text-content .stats-content ul li {
  font-weight: bold;
  color: white;
}
.flex-container .inner-container .text-content .stats-content .stats-name {
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  display: block;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  font-weight: lighter;
}

@media screen and (max-width: 700px) {
  .flex-container .inner-container {
    text-align: center;
  }
  .flex-container .inner-container .image-content img {
    max-width: 100%;
    height: auto;
    padding-right: 100px;
  }
  .flex-container .inner-container .text-content {
    font-weight: normal;
    padding: 2.5rem 1.3rem;
  }
  .flex-container .inner-container .text-content h1 {
    line-height: 2rem;
  }
  .flex-container .inner-container .text-content .mainpara {
    line-height: 1.5rem;
    padding: 1rem;
  }
  .flex-container .inner-container .text-content .stats-content {
    padding-top: 1rem;
  }
  .flex-container .inner-container .text-content .stats-content li {
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    text-align: center;
    padding-bottom: 1.5rem;
  }
  .flex-container .inner-container .text-content .stats-content .stats-name {
    padding-top: 0.3rem;
  }
}
@media screen and (min-width: 700px) {
  .flex-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .flex-container .inner-container {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-height: 446px;
    max-width: 1110px;
  }
  .flex-container .inner-container .text-content {
    order: 1;
    padding: 60px;
  }
  .flex-container .inner-container .text-content h1 {
    line-height: 2.5rem;
  }
  .flex-container .inner-container .text-content .mainpara {
    line-height: 1.5rem;
    padding-top: 1.3rem;
  }
  .flex-container .inner-container .text-content .stats-content {
    height: 20vh;
    padding-bottom: 2rem;
  }
  .flex-container .inner-container .text-content .stats-content ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 150px;
    width: 100%;
  }
  .flex-container .inner-container .text-content .stats-content li {
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    text-align: left;
  }
  .flex-container .inner-container .image-content {
    order: 2;
  }
  .flex-container .inner-container .image-content img {
    width: 540;
    height: 446px;
    display: block;
  }
}
@media screen and (min-width: 700px) and (min-width: 700px) and (max-width: 1020px) {
  .flex-container .inner-container .text-content {
    padding: 10px;
  }
  .flex-container .inner-container .text-content .stats-content {
    display: block;
    padding-top: 1rem;
  }
  .flex-container .inner-container .text-content .stats-content ul {
    justify-content: space-around;
  }
  .flex-container .inner-container .text-content .stats-content li {
    display: block;
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    text-align: center;
    padding-bottom: 1.5rem;
  }
  .flex-container .inner-container .text-content .stats-content .stats-name {
    padding-top: 0.3rem;
  }
  .flex-container .image-content {
    width: 50vw;
  }
}

/*# sourceMappingURL=site.css.map */
