
$very-dark-blue: hsl(233,47%,7%);
$dark-blue: hsl(244,38%,16%);
$soft-violet: hsl(277,64%,61%);
$white: hsl(0,0%,100%);
$white-trans1: hsla(0,0%,100%,0.75);
$white-trans2: hsla(0,0%,100%,0.6);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $very-dark-blue;
  color: $white;
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
}

h1 {
  font-family: 'Inter', sans-serif;
}

.flex-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  padding: 20px;
}

.insights {
  color: $soft-violet;
}

.mainpara {
  color: $white-trans1;
}

.text-content {
  background-color: $dark-blue;
  width: 570px;
  height: 446px;
  border-radius: 10px 0px 0px 10px;
  padding-top: 76px;
  padding-left: 73px;
  padding-right: 120px;
}

h1 {
  padding-bottom: 33px;
}

.image-content {
  background: url('../images/image-header-desktop.jpg');
  background-repeat: no-repeat;
  width: 540px;
  height: 446px;
  background-color: $soft-violet;
  background-blend-mode: multiply;
  border-radius: 0px 10px 10px 0px;
}

.stats-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;

  h2 {
    font-family: 'Inter', sans-serif;
    color: $white;
   }

   p {
    color: $white-trans2;
    text-transform: uppercase; 
   }

}

@media screen and (max-width: 800px) {

  .flex-container {
    flex-direction: column;
    justify-content: center;
    min-height: 780px;
  }

  .text-content {
    order: 2;
    width: 327px;
    height: 540px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 24px;

    p {
      line-height: 25px;
    }
  }

  .image-content {
    order: 1;
    width: 327px;
    height: 240px;
    border-radius: 10px 10px 0px 0px;
    background: url('../images/image-header-mobile.jpg');
    background-repeat: no-repeat;  
    background-size: cover;
    background-color: $soft-violet;
    background-blend-mode: multiply;    
  }

  .stats-container {
    flex-direction: column;
    justify-content: space-between;
    height: 245px;
    padding-top: 40px;
  }

  h1 {
    font-family: 'Inter', sans-serif;
    padding-bottom: 15px;
    font-size: 27px;
  }
  
}